@font-face {
    font-family: "StolzlDisplay";
    src: url("fonts/StolzlDisplay-Regular.eot");
    src: url("fonts/StolzlDisplay-Regular.eot?#iefix") format("embedded-opentype"),
      url("fonts/StolzlDisplay-Regular.woff2") format("woff2"),
      url("fonts/StolzlDisplay-Regular.woff") format("woff"),
      url("fonts/StolzlDisplay-Regular.ttf") format("truetype"),
      url("fonts/StolzlDisplay-Regular.svg#StolzlDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "StolzlDisplay";
    background-image: url(images/travel_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
}

.logo h1 {
    font-weight: 900;
    margin-left: 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li{
    margin-right: 50px;
}

.booking-form-container {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.109);
}

.booking-form-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-form-container form button {
    width: 25%;
    border: none;
    outline: none;
    background-color: rgb(224, 125, 80);
    color: white;
    padding: 20px 32px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
}

.booking-form-container form input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
}

.arrival-airport-input {
    width: 30%;
    height: 48px;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(203, 203, 203);
}

.arrival-airport-input img {
    width: 24px;
    height: 24px;
}

.date-input, .time-input {
    display: flex;
    align-items: center;
    height: 48px;
    border-right: 1px solid rgb(203, 203, 203);
}

.date-input input, .time-input input {
    border: none;
    outline: none;
    color: rgb(117, 117, 117);
    margin: 0 20px;
}

.luggage-size-input select {
    border: none;
    outline: none;
    color: rgb(117, 117, 117);
    margin: 0 30px;
}

.content h1 {
    font-size: 48px;
    line-height: 68px;
    color: rgb(53, 53, 59);
}

.content p {
    margin-top: 28px;
    color: rgba(53, 53, 59, 0.691);
    font-size: 18px;
    line-height: 26px;
}

.content a {
    text-decoration: none;
    color: rgb(224, 125, 80);
}

.content {
    margin-top: 90px;
    margin-left: 70px;
}
